:root{
    --primary-color: rgb(255, 43, 6);
    --text-color: #333;
  
  }
  .title{
    float: left;
    color: var(--text-color);
  }
  
  .btnadd{
    float: right;
    font-size: 25px;
    :hover{
      cursor: pointer;
      color: var(--primary-color);
    }
  }
  
  .titleResSong{
    float: right;
    color: var(--text-color);
  }
  .showSongdetails {
    font-size: 18px;
    :hover {
        color: var(--primary-color);
        cursor: pointer;
    }
  }
